<html>
    <head>
        <meta charset="UTF-8">
        <title>Minesweeper</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="styles.css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>

        <!--App-->
        <div id="app" class="outer-border nohand">

            <!--Controls-->
            <div id="controls-display" class="inner-border">
                <div class="control-col" id="unmarked-display">
                    <span class="digital" id="unmarkedMines">{{ formattedUnmarkedMines }}</span>
                </div>
                <div class="control-col" id="reset-display">
                    <button class="outer-border" id="reset-button" v-on:click="handleRestartClick">
                        <span v-if="gameState === 'active'">
                            &#x1F60A;
                        </span>
                        <span v-else-if="gameState === 'pending'">
                            &#x1F634;
                        </span>
                        <span v-else-if="gameState === 'won'">
                            &#x1F973;
                        </span>
                        <span v-else>
                            &#x1F62D;
                        </span>
                    </button>
                </div>
                <div class="control-col" id="time-display">
                    <span class="digital" id="time">{{ formattedTime }}</span>
                </div>
            </div>
            <!--/Controls-->

            <!--Minefield-->
            <div id="minefield-container" class="inner-border">
                <table id="minefield">
                    <tr v-for="row in board">
                        <td v-for="cell in row" v-on:mouseover="handleCellMouseover(cell)">
                            <div v-if="cell.removed" class="cleared-cell">
                                <span v-show="!cell.mine" v-bind:class="'mines-' + cell.surrounding" class="mines">{{ formattedMine(cell) }}</span>
                                <span v-show="cell.mine" class="mines">&#x1F4A3;</span>
                            </div>
                            <div v-else class="outerBorder" v-on:click="handleCellClick(cell)" v-on:click.right="handleCellRightClick(cell)">
                                <span v-show="gameState === 'active' && cell.marked" class="mines mines-marked">?</span>
                                <span v-show="gameState === 'lost' && cell.mine" class="mines">&#x1F4A3;</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!--/Minefield-->

        </div>
        <!--/App-->

        <div id="help">
            <h3 id="helpToggle"> (?) </h3>
            <ul id="shortcuts">
                <li><b>Left Click</b> - Clear the tile</li>
                <li><b>Right Click</b> - Mark/Unmark the tile</li>
                <li><b>Space Bar</b> - (if on cleared tile) Clear all nearby, unmarked tiles. Otherwise, mark/unmark uncleared tile.</li>
                <li><b>R</b> - Restart game</li>
            </ul>
        </div>

        <script src="game.js"></script>
        <script>
            $('#shortcuts').hide();
            $('#helpToggle').click(function() {
                $('#shortcuts').toggle();
            });
        </script>
    </body>
</html>