* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: black;
    text-align: center;
}

#app {
    display: inline-block;
    width:min-content;
    max-width: 1200px;
    /* min-height: max-content; */
    height: min-content;
    /* max-height: 900px; */
    margin: 50px auto;
    padding: 15px;
    background-color: rgb(126, 126, 126);
    /* border: 1px solid greenyellow; */
}

.outer-border {
    border-width: 4px;
    border-style: solid;
    border-top-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-right-color: rgb(82, 82, 82); 
    border-bottom-color: rgb(82, 82, 82); 
}

.inner-border {
    border-width: 4px;
    border-style: solid;
    border-top-color: rgb(82, 82, 82); 
    border-left-color: rgb(82, 82, 82); 
    border-right-color: rgb(170, 170, 170);
    border-bottom-color: rgb(170, 170, 170);
}

#controls-display {
    float: left;
    width: 100%;
    min-height: 50px;
    margin: auto;
    padding: 10px;
}

.control-col {
    width: 33%;
    height: 50px;
    /* text-align: center; */
    /* line-height: 50px; */
}

#unmarked-display {
    float: left;
    /* border: 1px solid red; */
}

#reset-display {
    float: left;
    text-align: center;
    /* border: 1px solid green; */
}

#time-display {
    float: right;
    /* border: 1px solid blue; */
}

span.digital {
    color: red;
    font-size: 50px;
    line-height: 50px;
    font-family: 'Roboto Mono', sans-serif;
    background-color: black;
    padding: 0;
    height: 50px;
    width: 90px;
    border-radius: 5px;
}

span#unmarkedMines {
    float: left;
}

span#time {
    float: right;
}

#reset-button {
    height: 50px;
    background-color: rgb(126, 126, 126);
    font-size: 40px;
    line-height: 40px;
}

#minefield-container {
    float: left;
    /* float: left; */
    width: 100%;

    /* margin: auto; */
    margin-top: 10px;

    /* border: 1px solid pink; */
}

table#minefield {
    border-spacing: 0px;
}

tr td {
    min-width: 32px;
    width: 32px;
    max-width: 32px;
    height: 32px;

    text-align: center;
    background-color:rgb(126, 126, 126);


    padding: 0;
    margin: 0;
}

.mine-cell {}

.cleared-cell {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgb(126, 126, 126);
    border: 1px solid rgb(82, 82, 82);
}

.mines {
    display: inline-block;
    /* margin: 5px 0; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.mines-marked {
    margin: -4px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: pink;
}

.mines-0 {
    color: pink;
}
.mines-1 {
    color: rgb(0, 0, 160);
}
.mines-2 {
    color: rgb(0, 72, 0);
}
.mines-3 {
    color: rgb(160, 0, 0);
}
.mines-4 {
    color: rgb(0, 0, 72);
}
.mines-5 {
    color: rgb(72, 0, 0);
}
.mines-6 {
    color: rgb(0, 72, 72);
}
.mines-7 {
    color: rgb(0, 0, 0);
}
.mines-8 {
    color: rgb(115, 115, 115);
}
.mines-9 {
    color: rgb(255, 255, 255);
}

.outerBorder {

    width: 32px;
    height: 32px;

    border-width: 4px;
    border-style: solid;
    border-top-color: rgb(170, 170, 170);
    border-left-color: rgb(170, 170, 170);
    border-right-color: rgb(82, 82, 82); 
    border-bottom-color: rgb(82, 82, 82); 
}

.nohand:hover {
    cursor: default;
}

h3, ul, li {
    font-size: 14px;
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    text-align: left;
}

h3 {
    /* font-family: ; */
    margin: auto;
    text-align: center;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: 0;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

li b {
    text-decoration: underline;
}

#help {
    width: 280px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 5px;
    background-color:rgba(25, 25, 25, 0.3);
}